.container.contact-form {
padding: 30px;
}

.contact-form h3 {
  text-align: center;
}

h3.contact_us-title {
-webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
background-image: linear-gradient(165deg, white 46%, #242a2e 46%);
}
