.device-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1515879218367-8466d910aaa4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
  background-size: cover;
  background:linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1515879218367-8466d910aaa4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
  &.edit {
    // align-items: center;
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("https://images.unsplash.com/photo-1515879218367-8466d910aaa4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
  }
}

.device-container {
  background-color: rgba(255,255,255,1);
  border-radius: 10px;
  min-width: 300px;
  & .form {
    padding: 30px;
  }
  &.edit {
    &.login-details {
      border: none;
    }
    // background-color: rgba(0,0,0,0);
    display: flex;
    padding: 50px;
    margin: 10px;
    border: 2px solid #22dac3;
    // color: white;
    margin-top: 12vh;
    & input {
    // background-color: rgba(0,0,0,0.1);
    // color: white;
    &.update-button {
      background-color: #22dac3;
    }
    &:focus {
      // background-color: rgba(0,0,0,0.1);
      // color: white;
    }
  }
  & select {
    // background-color: rgba(0,0,0,0.1);
    // color: white;
    &:focus {
      // background-color: rgba(0,0,0,0.1);
      // color: white;
    }
  }
  & textarea {
    // background-color: rgba(0,0,0,0.1);
    // color: white;
    &:focus {
      // background-color: rgba(0,0,0,0.1);
      // color: white;
    }
  }
}
}

#user-title {
margin-bottom: 40px;
}

.inside-device-container {
  padding: 0 20px;
}


.sign-up-text-box {
  width: 300px;
  margin-right: 100px;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  color: rgba(0,0,0,0.3);
}
.separator::before, .separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}
.separator::before {
  margin-right: .25em;
}
.separator::after {
  margin-left: .25em;
}

  // bootstrap tabs customization
  .nav.welance {
    display: flex;
    text-align: center;
    border-style: none;
    width: 100%;
    border-radius: 10px 10px 0 0;
    // border-bottom: 2px solid #EBEAED;
    & .active {
      border-radius: 10px 10px 0 0;
      border-bottom: 3px solid #242a2e;
      color: #242a2e;
    }
    & .nav-item > a:hover {
      color: #242a2e;
      border-bottom: 3px solid #242a2e;
    }
    & a {
      color: #EBEAED;
      font-weight: bold;
      border-bottom: 3px solid #EBEAED;
      padding: 15px 0;
    }
  }

  .welance {
    > a {
      color: #EBEAED;
      &:hover {
        text-decoration: none;
        color: #242a2e;
      }
    }
  }

  .ap-dataset-places {
    color: black;
  }
