.index-wrapper {
  // display: flex;
  // justify-content: center;
  // background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.unsplash.com/photo-1550645612-83f5d594b671?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
}

//searchbar
.offers-index-search {
  margin: 120px auto 20px auto;
  border-radius: 40px;
  padding-top: 5px;
}
.offers-index-searchbarbut {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.search-form-control {
  width: 500px;
}
.offer-button-search {
  margin: 0px 10px 15px 20px;
  padding: 0 auto;
  border-radius: 40px;
}
#search_query {
  border-radius: 40px;
}

.btn {
  margin-bottom: -1px;
}

#search {
  display: flex;
  flex-flow: row-reverse;
  align-items: center;
  margin: 3vh;
  border-radius: 5px;
  margin-bottom: 12px;
  margin-top: 13px;
  margin-left: 36px;
}

#search_by_title_and_location {
  border-radius: 10px;
}

//offers index
.offers-index-offers {
  width: 1025px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 25px;
  row-gap: 35px;
  justify-items: stretch;
  margin-top: 40px;
  margin-bottom: 40px;
  & a {
    color:#293241;
  }
}
.offers-index-offer {
  width: 500px;
  box-shadow: 4px 4px 15px -3px rgba(0,0,0,0.24);
}

// cards
.offers-index-offer-head {
  display: flex;
  margin: 20px 20px 0px 20px;
}
.company-pic {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.offers-index-offer-name {
  margin-top: 10px;
  margin-left: 30px;
}
.offers-index-offer-description {
  margin: 0px 20px 30px 20px;
}
.offers-index-offer-actions {
  display: flex;
  justify-content: right;
  margin: 15px;
}
.btn1 {
  margin-right: inherit;
}
.btn-offer {
  border-radius: 10px;
  margin: 5px;
}
h2.offers-search-title {
-webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
background-image: linear-gradient(157deg, white 63%, #242a2e 50%);
}
.gradient-topleft-offers {
  background:linear-gradient(157deg,  rgba(63,94,251,1) 6%, rgba(252,70,107,1) 23%, white 23%, white);
}
