.offers.index {
  display: grid;
  grid-template-columns: 1fr 1fr;

}
.wrapper.offers {
  // background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("https://images.unsplash.com/photo-1515879218367-8466d910aaa4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
  height: 100%;
  padding-top: 10rem;
  padding-bottom: 3rem;
}
.banner.offers {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 38rem;
}
.offer-details {
  display: flex;
  justify-content: flex-start;
}


#banner-logo-seperator {
  border: 1px solid #FFFFFF;
  width: 70rem;
}

.banner-container.offers {
  display: flex;
  align-items: center;
  flex-direction: column;
  h1 {
    margin: 0;
    padding: 3rem;
    font-size: 45px;
    color: white;
  }
  h3 {
    color: white;
    padding: 2rem;
    font-size: 35px;
  }
}

.app-offers-card-bottom {
  margin-top: -2rem;
}

.logo.offers img {
  width: 60px;
  height: 60px
}

.card.offers {
  display: block;
  padding: 4vh 2vh 3vh 4vh;
  border: none;
  border-radius: 15px;
  margin-bottom: 5%;
  width: 33rem;
  height: 16rem;
}
.card.offers h6.heading {
  font-weight: bold;
  font-size: 25px;
}

.card.offers p.text-muted {
  font-size: 15px;
  color: #a1a7ae !important;
  margin-top: 0.5rem;
  padding-left: 1rem;
  padding-right: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 4rem;
}

.header.offers {
  margin-bottom: 5vh;
  margin-right: 2vh;
  float: right;
  margin-left: auto
}

.far.offers {
  color: rgba(15, 198, 239, 0.97) !important;
  font-size: 16px !important
}


.btn-sm {
  border-radius: 10px;
  margin-right: 0.5rem;
}

.offer-btn-sbmt {
  position: absolute;
  top: 9.5rem;
  left: 2rem;
}

.fas.fa-users {
  color: rgba(15, 198, 239, 0.97) !important
}

.mutual span {
  font-size: 14px;
  color: #adb5bd;
  font-weight: bold
}

//saved

.saved-header {
  margin-bottom: 3rem;
}

