@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');

.banner-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 0px;
}
#mbp {
  width: 600px;
  height: 600px;
}
#ipx {
  width: 400px;
  height: 400px;
}

.banner.landing h1 {
  margin: 0;
  color: white;
  font-family: "Quicksand", sans-serif;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 60px;
}

.clients-container {
  margin: 25px 85px 40px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  border-bottom: 2px solid lightgray;
}
.our-clients {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 40px 20px;
}
.our-clients-info {
  max-width: 500px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.banner.landing p {
  font-size: 20px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.our-developers-info {
  margin: 40px 90px 40px;
}
.our-developers-info p {
  font-size: 20px;
}
.our-developers {
  display: flex;
  justify-content: space-evenly;
  margin: 45px 0px 45px;
  max-width: 100%;
}

.landing-two {
    display: flex;
    flex-direction: row;
}

.sub-p {
  margin-left: 53px;
  color: black;
}

#loco {
  width: 415px;
  height: 296px;
  margin-top: 180px;
  margin-left: 70px;
}

.col-lg-3 {
  margin-top: 60px;
  width: 288px;
  margin: 30px;
}

.card-text {
  font-family: 'Roboto Condensed', sans-serif;
}

#h1-2 {
  text-align: center;
  margin-top: 30px;
}

.card-img-top {
  height: 212px;
}

.container-icon {
  display: flex;
  justify-content: space-evenly;
  margin: 30px;
}
.welance-pros {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.h2-1 {
  margin-top: 40px;
  // margin-left: -66px;
}

.h2-2 {
  margin-top: 40px;
  // margin-left: -22px;
}

.h2-3 {
  margin-top: 40px;
  // margin-left: -36px;
}

#h1-3 {
  text-align: center;
  margin-top: 60px;
}

.testimonial {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  overflow: hidden;
  max-width: 100%;
  width: 400px;
}

.testimonial-body {
  padding: 40px 40px 80px;
}

.testimonial-body p {
  color: #555;
  font-size: 20px;
  line-height: 36px;
  margin: 0;
}

.testimonial-body .fa-quote-right {
  color: #eee;
  font-size: 40px;
  float: right;
}

.testimonial-footer {
  background-color: #686de0;
  height: 200px;
  color: #fff;
  padding: 40px;
  text-align: center;
}

.testimonial-footer img {
  border-radius: 50%;
  border: 5px solid #fff;
  height: 120px;
  width: 120px;
  margin-top: -100px;

}

.testimonial-footer h3 {
  margin: 10px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.testimonial-footer h4 {
  color: #b3b5ef;
  margin: 0;
  letter-spacing: 1px;
}

.testimonail-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
 margin-top: 30px;
}

.profile-card-3 {
  font-family: 'Open Sans', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  width: 400px;
  text-align: center;
  height:368px;
  border:none;
  z-index: 9999;
}
.profile-card-3 .background-block {
    float: left;
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.profile-card-3 .background-block .background {
  width:100%;
  vertical-align: top;
  opacity: 0.9;
  -webkit-filter: blur(0.5px);
  filter: blur(0.5px);
   -webkit-transform: scale(1.8);
  transform: scale(2.8);
}
.profile-card-3 .card-content {
  width: 100%;
  padding: 15px 25px;
  color:#232323;
  float:left;
  background:#efefef;
  height:50%;
  border-radius:0 0 5px 5px;
  position: relative;
  z-index: 9999;
}
.profile-card-3 .card-content::before {
    content: '';
    background: #efefef;
    width: 120%;
    height: 100%;
    left: 11px;
    bottom: 51px;
    position: absolute;
    z-index: -1;
    transform: rotate(-13deg);
}
.profile-card-3 .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  max-width: 100px;
  opacity: 1;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 1);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  z-index:99999;
}
.profile-card-3 h2 {
  margin: 0 0 5px;
  font-weight: 600;
  font-size:25px;
}
.profile-card-3 h2 small {
  display: block;
  font-size: 15px;
  margin-top:10px;
}
.profile-card-3 i {
  display: inline-block;
    font-size: 16px;
    color: #232323;
    text-align: center;
    border: 1px solid #232323;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin:0 5px;
}
.profile-card-3 .icon-block{
    float:left;
    width:100%;
    margin-top:15px;
}
.profile-card-3 .icon-block a{
    text-decoration:none;
}
.profile-card-3 i:hover {
  background-color:#232323;
  color:#fff;
  text-decoration:none;
}
