// developer

.wrapper-offer {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to right, rgb(195, 20, 50), rgb(36, 11, 54));
  width: 100%;
  height: 100%;
  padding: 10rem 0;
}
.app-offers-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 50rem;
  border-radius: 20px;
}
.app-offers-card-top {
  display: flex;
  justify-content: space-around;
  grid: 1fr 2fr;
  margin: 2rem 1rem;
}
.app-offers-card-bottom {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.logo-app-offers {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.business-logo-info {
  width: 10rem;
}
.app-offer-details {
  width: 30rem;
}
.app-offers-text {
  margin-top: 2rem;
}
.business-info {
  font-size: 12px;
  list-style-type: none;
  width: 14rem;
  margin-left: -1rem;
  margin-top: 1rem;
}

.offer-page-first {
  display: flex;
  padding: auto;
  margin: 30px auto;
  & h1 {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  & i {
    color: grey;
  }
}

.offer-page-actions {
  display: flex;
  justify-content: space-around;
  margin: 30px auto;
  & hr {
    margin-top: 20px;
  }
}

.offer-page-button {
  margin: 5px;
}

.offer-page-container {
  & ul {
    list-style-type: none;
  }
}
.offer-pic {
border-radius: 50%;
height: 200px;
width: 200px;

}

.offer-page-perks {
  display: flex;
  justify-content: space-around;
  font-size: 40px;
}

.offer-page-about {
  & p {
    margin: 10px;
    padding: 35px;
  }
}
.inquiries-container.business {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper.offers-show {
 background-image: linear-gradient(to right, rgb(195, 20, 50), rgb(36, 11, 54));
 width: 100%;
 height: 100%;
 padding: 10rem 0;
}
