@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700");

.core {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  overflow: hidden;
  max-width: 100%;
  width: 600px;
  text-align: center;
  margin: 0 auto;
  float: none;
  padding: 40px;
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
  color: #555;
  line-height: 36px;
}

.card-text {
  font-family: "Roboto Condensed", sans-serif;
}

#h1-1 {
  text-align: center;
  margin-top: 30px;
  color: white;
  text-shadow: 7px 7px 10px #000000;
}

#h1-2 {
  text-align: center;
  margin-top: 30px;
  color: white;
  text-shadow: 7px 7px 10px #000000;
}

.card-img-top {
  height: 212px;
}

.container-icon {
  display: flex;
  justify-content: space-evenly;
  margin: 30px;
}

.h2-1 {
  margin-top: 40px;
  // margin-left: -66px;
  color: white;
}

.h2-2 {
  margin-top: 40px;
  // margin-left: -22px;
}

.h2-3 {
  margin-top: 40px;
  // margin-left: -36px;
}

#h1-3 {
  text-align: center;
  margin-top: 60px;
}

.team {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  overflow: hidden;
  max-width: 100%;
  width: 400px;
}

.team-body {
  padding: 40px 40px 80px;
}

.team-body p {
  color: #555;
  font-size: 20px;
  line-height: 36px;
  margin: 0;
}

.team-body .fa-quote-right {
  color: #eee;
  font-size: 40px;
  float: right;
}

.team-footer {
  background-color: #686de0;
  height: 200px;
  color: #fff;
  padding: 40px;
  text-align: center;
}

.team-footer img {
  border-radius: 50%;
  border: 5px solid #fff;
  height: 120px;
  width: 120px;
  margin-top: -100px;
}

.team-footer h3 {
  margin: 10px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.team-footer h4 {
  color: #b3b5ef;
  margin: 0;
  letter-spacing: 1px;
}

.team-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
  margin-top: 30px;
}

.pages-about {
  padding-top: 10rem;
  background-image: url("https://images.unsplash.com/photo-1515879218367-8466d910aaa4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
}
