.about-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 65vh;
}

.about-container {
    background-color: #fff;
    border-radius: 20px;
    max-width: 50vw;
    padding: 30px;
}

.pages-about {
  padding-top: 10rem;
  background-image: url("https://images.unsplash.com/photo-1515879218367-8466d910aaa4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
}
