.services-box {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  overflow: hidden;
  max-width: 100%;
  width: 600px;
  text-align: center;
  float: none;
  padding: 40px;
  font-size: 20px;
  color: #555;
  line-height: 36px;
  margin-top: 50px;
  margin-bottom: 70px;
}

.services-icon {
  font-size: 40px;
  color: black;
}

.service-name {
  margin-bottom: 15px;
  margin-top: 15px;
  color: black;
}
.text-small {
  font-size: 20px;
  color: #555;
}
