<div class="inquiry-wrapper">
  <div class="inquiry-container">
    <h3> Congratulations! </h3>
    <p> Your application has been sent to the employer.<br> You will receive a notification as soon as they will answer your inquiry.</p>
    <%= link_to offers_path do %>
      <button name="button" type="submit" class="btn-inquiry btn1 btn btn-success"> Back to browse </button>
    <% end %>
    <%= link_to my_inquiries_path do %>
      <button name="button" type="submit" class="btn-inquiry btn1 btn btn-success"> Check my Inquiries </button>
    <% end %>
  </div>
  <div class="inquiry-message-container">
    <h3> Your Message </h3>
    <p><%= @inquiry.message %></p>
  </div>
  </div>

