<footer class="footer">
  <div class="footer-container">
    <ul class="foote_bottom_ul_amrc">
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'About', about_path %></li>
      <li><%= link_to "Contact", contact_us_path %></li>
    </ul>

    <p class="text-center">Copyright @2020 | Designed With ❤️ by <a href="#">Welance</a></p>

    <ul class="social_footer_ul">
      <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
      <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
      <li><a href="#"><i class="fab fa-instagram"></i></a></li>
    </ul>
  </div>
</footer>
