<footer class="footer">

    <div class="smedia">
        <small>FOLLOW US</small>
            <ul style= "list-style-type:none">
            <li><i class="fab fa-linkedin mr-3"></i>linkedin</li>
            <li><i class="fab fa-instagram mr-3"></i>instagram</li>
            <li><i class="fas fa-paper-plane mr-3"></i>Email</li>
            </ul>
    </div>

  <div class="acunt">
    <small>MY ACCOUNT</small>
    <ul style="list-style-type:none">
      <li>About us</li>
      <li>Contact us</li>
      <li>News</li>
    </ul>
  </div>

  <div class="cntct">
    <small>CONTACT INFORMATION</small>
        <ul style="list-style-type:none">
        <li><%= "Address: ijsbaanpad 9 " %></li>
        <li><%= "phone: (020)456-789" %></li>
        
        </ul>
    </div>
</footer>
