<footer class="footer">
  <div class="smedia">
    <h4 class="h4-fo">Subscribe to our Newsletter :</h4>
   
  <form id="loco-form" class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Email" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Subscribe</button>
  </form>

  </div>

  
  
  
  <div class="lanzo">

  <ul>
  <p><a href="">Services</a></p>
  <p><a href="">About</a></p>
  <p><a href="">Contact</a></p>
  <p><a href="">My Account</a></p>
  <p><a href="">Help</a></p>

  </ul>
  </div>
  
  <div class="lanza">
  <ul>
  <p><a href="">Support</a></p>
  <p><a href="">Partner</a></p>
  <p><a href="">Pricing</a></p>
  <p><a href="">FAQ</a></p>

  </ul>
  
  </div>
  
  
  <div class="cntct">
  <h4 class="h4-fo">Ready to get <strong>started?</strong></h4>
  <button id="start-btn" class="btn btn-outline-success my-2 my-sm-0" type="submit">Start</button>
   <div class="icons-social">
  
  
  <i id="social-icons" class="fab fa-instagram-square fa-2x"></i>
  <i id="social-icons" class="fab fa-facebook-square fa-2x"></i>
  <i id="social-icons" class="fab fa-twitter-square fa-2x"></i>
  </div>
  </div>
  

    
 
</footer>