<nav class="nav">
	<div class="container">
		<div class="logo">
			<a href="#">Welance</a>
		</div>
		<div id="mainListDiv" class="main_list">
			<ul class="navlinks">
				<li><a href="#">About</a></li>
				<li><a href="#">Customers</a></li>
				<li><a href="#">Services</a></li>
				<li><%= link_to "contact", contact_us_path %></li>
				
			</ul>
		</div>
		<span class="navTrigger">
			  <i></i>
				<i></i>
				<i></i>
				<i></i>
		</span>
	</div>
</nav>
<div style="height: 1000px">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- Function used to shrink nav bar removing paddings and adding black background -->
<script>
	$(window).scroll(function() {
		if ($(document).scrollTop() > 50) {
			$('.nav').addClass('affix');
		} else {
			$('.nav').removeClass('affix');
		}
	});
</script>