<nav class="nav global">
	<div class="container navigation-bar">
		<div class="logo">
			<a href="/">Welance</a>
		</div>
		<div id="mainListDiv" class="main_list">
			<ul class="navlinks">
				<li><a href="#">About</a></li>
				<li><a href="#">Customers</a></li>
				<li><a href="#">Services</a></li>
				<li><a href="#">Contact</a></li>
        <% unless user_signed_in?%>
        <li><a href="/users/sign_up">Sign Up</a></li>
				<li><a href="#">Sign In</a></li>
        <%else%>
        <li><a href="/users/1/">My Account</a></li>
        <%end%>
			</ul>
		</div>
		<span class="navTrigger">
			  <i></i>
				<i></i>
				<i></i>
		</span>
	</div>
</nav>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- Function used to shrink nav bar removing paddings and adding black background -->
<script>
	$(window).scroll(function() {
		if ($(document).scrollTop() > 50) {
			$('.nav.global').addClass('affix');
		} else {
			$('.nav.global').removeClass('affix');
		}
	});
</script>