<div class="device-wrapper">
  <div class="about-container gradient-topleft">
    <h1 class="about-title">Our core values</h1>
    <p>
      Through Welance, businesses get more done, connecting with proven professionals to work on projects from web and mobile app development to SEO, social media marketing, content writing, graphic design, admin help and thousands of other projects. Welance makes it fast, simple, and cost-effective to find, hire, work with, and pay the best professionals anywhere, any time.
    </p>
    <h6>Welance's vision</h6>
    <p>To be the number one flexible talent solution in the world.</p>
  </div>
</div>

