<div class="device-wrapper">
<div class="padding-top">
    <h1 id="h1-customers">Developers stories from around the world</h1>
        <div class="customers-container">
        <div class="customers">
            <div class="customers-body">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            <i class="das da-quote-right"></i>
            </div>
            <div class="customers-footer">
            <img src="https://images.unsplash.com/photo-1561055657-b9e0bf0fa360?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80"
                alt="user" />
            <h3>Arnoud Pustjens</h3>
            <h4>Full-Stack Developer</h4>
            </div>
        </div>

        <div class="customers">
            <div class="customers-body">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            <i class="das da-quote-right"></i>
            </div>
            <div class="customers-footer">
            <img src="https://images.unsplash.com/photo-1539605480396-a61f99da1041?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"
                alt="user" />
            <h3>Daan Vos</h3>
            <h4>Front-end developer</h4>
            </div>
        </div>

        <div class="customers">
            <div class="testimonial-body">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            <i class="das a-quote-right"></i>
            </div>
            <div class="customers-footer">
            <img src="https://images.unsplash.com/photo-1572965733194-784e4b4efa45?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"
                alt="user" />
            <h3>Hermann Nieuwenhuis</h3>
            <h4>Back-end developer</h4>
            </div>
        </div>
        </div>


            <div class="form-group">
                <input type="submit" name="btnSubmit" class="btn btn-primary" value="Tell Us Your Story" />
            </div>
    </div>
    </div>
</div>
            
        