
<div class="banner landing" style="background: rgb(63,94,251);  background: linear-gradient(90deg, rgba(63,94,251,1) 18%, rgba(252,70,107,1) 63%);">
  <div class="banner-container">
    <div class="banner-container-left">
      <h1>Welance <i class="fas fa-code"></i></h1>
      <p>The future of hiring freelancer developers</p>
    </div>
    <div class="banner-container-right">
      <%# <img id="ipx" src="https://res.cloudinary.com/corneliuskf/image/upload/v1598969881/PNG_image_iphonexspacegrey_portrait_ljy88h.png"> %>
      <img id="mbp" src="https://res.cloudinary.com/corneliuskf/image/upload/v1598953011/Screenshot_2020-09-01_at_11.30.34_macbookgrey_front_cpy135.png">
    </div>
</div>
</div>
<div class="clients-container">
<div class="our-clients">
  <h3>Our clients</h3>
  <i class="fab fa-amazon fa-5x"></i>
  <i class="fab fa-airbnb fa-5x"></i>
  <i class="fab fa-microsoft fa-5x"></i>
  <i class="fab fa-apple fa-5x"></i>
  <i class="fab fa-facebook fa-5x"></i>
  <i class="fab fa-uber fa-5x"></i>
</div>
</div>

<div class="our-developers-container">
  <div class="our-developers-info">
  <h2>Meet some of our Developers</h2>
  <p>The Welance network includes experts across a very wide array of software development languages and technologies. 
  At Welance, we thoroughly screen our developers to ensure we only match you with talent of the highest caliber.
  You'll work with software engineering experts  to understand your goals, technical needs, and team dynamics. 
  The end result: expert vetted talent from our network, custom matched to fit your business needs.
  All of our developers are certified and highly skilled in their field of expertise</p>
  </div>
  <div class="our-developers">
  <div class="card" style="width: 18rem;">
  <img src="https://res.cloudinary.com/corneliuskf/image/upload/v1598971207/qgypwowy7kl1nbunary6_efb1a7.jpg" class="card-img-top" alt="HC Tung">
  <div class="card-body">
    <h5 class="card-title">HC Tung</h5>
    <h6 class="card-subtitle mb-2 text-muted">Web Development</h6>
    <p class="card-text">Previously at LeWagon</p>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="https://res.cloudinary.com/corneliuskf/image/upload/v1598972307/R93A7966_txuucn.jpg" class="card-img-top" alt="HC Tung">
  <div class="card-body">
    <h5 class="card-title">Cornelius Kötting</h5>
    <h6 class="card-subtitle mb-2 text-muted">Web Development</h6>
    <p class="card-text">Previously at LeWagon</p>
  </div>
</div>


<div class="card" style="width: 18rem;">
  <img src="https://avatars1.githubusercontent.com/u/63601446?v=4" class="card-img-top" alt="HC Tung">
  <div class="card-body">
    <h5 class="card-title">Felix Hermann</h5>
    <h6 class="card-subtitle mb-2 text-muted">Web Development</h6>
    <p class="card-text">Previously at LeWagon</p>
  </div>
</div>

  </div>
</div>











<h1 id="h1-2">How does Welance work?</h1>
<div class="container">
<div class="row">

<div class="col-lg-3">
<div class="card" style="width: 20rem;">
  <img src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1598947761/jonathan-francisca-uTi9PhSJPm8-unsplash_mehkwj.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Sign up and set up your profile</p>
  </div>
</div>
</div>

<div class="col-lg-3">
<div class="card" style="width: 20rem;">
  <img src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1598957716/marten-newhall-uAFjFsMS3YY-unsplash_orkafz.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Search for Freelancer</p>
  </div>
</div>
</div>
<div class="col-lg-3">
<div class="card" style="width: 20rem;">
  <img src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1598957635/hunters-race-MYbhN8KaaEc-unsplash_rimchk.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Get ready for the interview</p>
  </div>
</div>
</div>

<div class="col-lg-3">
<div class="card" style="width: 20rem;">
  <img src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1598963901/skillscouter-XQaqV5qYcXg-unsplash_ss5ljp.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Get a contract and proof their certifications</p>
  </div>
</div>
</div>

<div class="col-lg-3">
<div class="card" style="width: 20rem;">
  <img src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1598964106/christopher-gower-m_HRfLhgABo-unsplash_tvlyfl.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Let them do the work</p>
  </div>
</div>
</div>

<div class="col-lg-3">
<div class="card" style="width: 20rem;">
  <img src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1598966172/rupixen-com-Q59HmzK38eQ-unsplash_gdsbc3.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Pay them and get your product</p>
  </div>
</div>
</div>
</div>
</div>

<h1 id="h1-2">Why should you choose Welance?</h1>

<div class="container-icon">
<div class="row">

<div class="col-lg-4">
<i id="contract" class="fas fa-file-contract fa-5x"></i>
<h2 class="h2-1" >Certifications</h2>
</div>

<div class="col-lg-4">
<i class="fas fa-shield-alt fa-5x"></i>
<h2 class="h2-2">Secured</h2>
</div>

<div class="col-lg-4">
<i class="fas fa-link fa-5x"></i>
<h2 class="h2-3">Connected</h2>
</div>
</div>
</div>


<h1 id="h1-3">Quotes of some Clients</h1>

<div class="row">

<div class="col-lg-4">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
</div>

<div class="col-lg-4">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
</div>

<div class="col-lg-4">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
</div>


</div>
