<div class="banner landing" style="background: rgb(63,94,251);  background: linear-gradient(90deg, rgba(63,94,251,1) 18%, rgba(252,70,107,1) 63%);">
  <div class="banner-container">
    <div class="banner-container-left">
      <h1>Welance</h1>
      <p>The future of hiring freelancer developers</p>
    </div>
    <div class="banner-container-right">
      <img id="code-hero" src="https://res.cloudinary.com/corneliuskf/image/upload/v1598953011/Screenshot_2020-09-01_at_11.30.34_macbookgrey_front_cpy135.png">
    </div>
</div>
</div>















<div class="container">
<div class="row">

<div class="col-lg-3">
<div class="card" style="width: 30rem;">
  <img src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1598947761/jonathan-francisca-uTi9PhSJPm8-unsplash_mehkwj.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
</div>

<div class="col-lg-3">
<div class="card" style="width: 30rem;">
  <img src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1598957716/marten-newhall-uAFjFsMS3YY-unsplash_orkafz.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
</div>
<div class="col-lg-3">
<div class="card" style="width: 30rem;">
  <img src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1598957635/hunters-race-MYbhN8KaaEc-unsplash_rimchk.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
</div>

<div class="col-lg-3">
<div class="card" style="width: 30rem;">
  <img src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1598957777/jp-valery-lVFoIi3SJq8-unsplash_llfvwy.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
</div>



</div>
</div>