<div class="banner landing" style="background: rgb(63,94,251);  background: linear-gradient(90deg, rgba(63,94,251,1) 18%, rgba(252,70,107,1) 63%);">
  <div class="banner-container">
    <div class="banner-container-left">
      <h1>Welance</h1>
      <p>The future of hiring freelancer developers</p>
    </div>
    <div class="banner-container-right">
      <img id="code-hero" src="https://res.cloudinary.com/corneliuskf/image/upload/v1598953011/Screenshot_2020-09-01_at_11.30.34_macbookgrey_front_cpy135.png">
    </div>
</div>
</div>
<div class="clients-container">
<div class="our-clients">
  <h3>Our clients</h3>
  <i class="fab fa-amazon fa-5x"></i>
  <i class="fab fa-airbnb fa-5x"></i>
  <i class="fab fa-microsoft fa-5x"></i>
  <i class="fab fa-apple fa-5x"></i>
  <i class="fab fa-facebook fa-5x"></i>
  <i class="fab fa-uber fa-5x"></i>
</div>
</div>













<h1 id="h1-2">How does Welance work?</h1>
<div class="container">
<div class="row">

<div class="col-lg-3">
<div class="card" style="width: 20rem;">
  <img src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1598947761/jonathan-francisca-uTi9PhSJPm8-unsplash_mehkwj.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Sign up and set up your profile</p>
  </div>
</div>
</div>

<div class="col-lg-3">
<div class="card" style="width: 20rem;">
  <img src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1598957716/marten-newhall-uAFjFsMS3YY-unsplash_orkafz.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Search for Freelancer</p>
  </div>
</div>
</div>
<div class="col-lg-3">
<div class="card" style="width: 20rem;">
  <img src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1598957635/hunters-race-MYbhN8KaaEc-unsplash_rimchk.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Get ready for the interview</p>
  </div>
</div>
</div>

<div class="col-lg-3">
<div class="card" style="width: 20rem;">
  <img src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1598963901/skillscouter-XQaqV5qYcXg-unsplash_ss5ljp.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Get a contract and proof their certifications</p>
  </div>
</div>
</div>

<div class="col-lg-3">
<div class="card" style="width: 20rem;">
  <img src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1598964106/christopher-gower-m_HRfLhgABo-unsplash_tvlyfl.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Let them do the work</p>
  </div>
</div>
</div>

<div class="col-lg-3">
<div class="card" style="width: 20rem;">
  <img src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1598966172/rupixen-com-Q59HmzK38eQ-unsplash_gdsbc3.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Pay them and get your product</p>
  </div>
</div>
</div>
</div>
</div>

<h1 id="h1-2" >Why should you choose Welance?</h1>