<div class="index-wrapper">
        <div class='container'>
            <h1 id>Services</h1>
        <div class="row">
            
        <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="services-box leftReveal" data-sr-id="13">
                            
                            <i class="fa fa-code fa-2x services-icon"></i>
                            <h3 class="service-name">1. Web Design</h3>
                            <p class="text-small">Lorem ipsum dolor sit amet, consectet adipiscing elit. Cras est urna, imperd eget sem at, pellentes que cursus elit.</p>
                            <button type="button" class="btn btn-primary" >Info</button>                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="services-box leftReveal" data-sr-id="13">
                            
                            <i class="fa fa-code fa-2x services-icon"></i>
                            <h3 class="service-name">1. Web Design</h3>
                            <p class="text-small">Lorem ipsum dolor sit amet, consectet adipiscing elit. Cras est urna, imperd eget sem at, pellentes que cursus elit.</p>
                            <button type="button" class="btn btn-primary" >Info</button>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="services-box leftReveal" data-sr-id="13">
                            
                            <i class="fa fa-code fa-2x services-icon"></i>
                            <h3 class="service-name">1. Web Design</h3>
                            <p class="text-small">Lorem ipsum dolor sit amet, consectet adipiscing elit. Cras est urna, imperd eget sem at, pellentes que cursus elit.</p>
                            <button type="button" class="btn btn-primary" >Info</button>
                        </div>
                    </div>
        </div>
    
    </div>
</div>