.chatroom {
  width: 50rem;
  background: white;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
  border-radius: 5px;

  h1 {
    padding: 0 1rem;
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
  }
}
.card-chat {
border-radius: 5px;
box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
border: none;
margin-bottom: 5rem;
}
.wrapper-chatroom {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-top: 6rem;
  padding-right: 5rem;
}
.chat {
  width: 30rem;
  padding: 0 0.5rem;
}
.chat-avatars {
  padding-top: 4rem;
}
.chat-avatar-logo {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin: 2rem;
}

.header-chat {
  display: flex;
  align-items: center;
  flex-direction: column;
  h1 {
    margin: 0;
    padding: 2rem 4rem;
    font-size: 35px;
    color: white;
  }
}

#messages {
  padding: 0 1rem;
  padding-top: 1rem;
  overflow: scroll;
  max-height: calc(100vh - 66px - 65px - 71px);
}

#new_message {
  padding: 1rem;
  border-top: 1px solid $gray-200;
  position: relative;
  width: 29rem;

  .form-group {
    margin-bottom: 0;
  }
}
.author {
  span {
    font-style: normal;
    font-weight: bold;
  }

  small {
    color: $gray-500;
  }
}

