.offer_search {
    width: 300px;
    margin-left: 18px;
    margin-top: 3px;
}

#hoola {
    width: 337px;
    height: 345px;
    border-radius: 24px;
    background-color: #0096c7;
}

.card label {
    color: whitesmoke;
}