.footer-container {
  margin: 20px 0 30px 0;
}

.col_white_amrc {
  color: #fff;
}
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  // height: 350px;
  & a:hover {
    text-decoration: none;
    color: #22dac3;
  }
}
.pt2 {
  padding-top: 40px;
  margin-bottom: 20px;
}
.footer p {
  font-size: 13px;
  color: white;
  padding-bottom: 0px;
  margin-bottom: 8px;
}
.mb10 {
  padding-bottom: 15px;
}
.footer_ul_amrc {
  margin: 0px;
  list-style-type: none;
  font-size: 14px;
  padding: 0px 0px 10px 0px;
}
.footer_ul_amrc li {
  padding: 0px 0px 5px 0px;
}
.footer_ul_amrc li a {
  color: white;
}
.footer_ul_amrc li a:hover {
  // color: #fff;
  text-decoration: none;
}
.fleft {
  float: left;
}
.padding-right {
  padding-right: 10px;
}

.footer_ul2_amrc {
  margin: 0px;
  list-style-type: none;
  padding: 0px;
}
.footer_ul2_amrc li p {
  display: table;
}
.footer_ul2_amrc li a:hover {
  text-decoration: none;
}
.footer_ul2_amrc li i {
  margin-top: 5px;
}

.bottom_border {
  border-bottom: 1px solid white;
  padding-bottom: 20px;
}
.foote_bottom_ul_amrc {
  list-style-type: none;
  padding: 0px;
  display: table;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}
.foote_bottom_ul_amrc li {
  display: inline;
}
.foote_bottom_ul_amrc li a {
  color: white;
  margin: 0 12px;
  // &:hover {
  //   text-decoration: none;
  // }
}

.social_footer_ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.social_footer_ul li {
  padding: 0 10px;
  padding-top: 10px;
  float: left;
}
.social_footer_ul li a {
  color: white;
  border: 1px solid white;
  padding: 8px;
  border-radius: 50%;
}
.social_footer_ul li i {
  width: 20px;
  height: 20px;
  text-align: center;
}
.h4-fo {
  color: white;
  margin-top: 10px;
  margin-bottom: 32px;
}

#loco-form {
  margin-top: 18px;
  margin-left: 28px;
}

#start-btn {
  width: 248px;
}

.acunt {
  color: white;
}

.icons-social {
  display: flex;
  justify-content: space-around;
  width: 150px;
  align-items: center;
  margin-top: 50px;
  margin-left: 50px;
}

#social-icons {
  color: white;
}

.cntct {
  margin-left: -350px;
  margin-top: 80px;
}

.lanza {
  color: white;
  width: 500px;
  line-height: 7px;
  margin-top: 90px;
}

.lanzo {
  color: white;
  line-height: 7px;
  margin-top: 90px;
}

.footer a {
  color: white;
}
