html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: #f5f5f5;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  padding: 0 31px;
}

.smedia {
  display: inline-block;
  float: right;
  padding-right: 2%;
}

.footer ul {
  padding-left: 0px;
}
.footer small {
  color: #07689f;
}
