// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'mapbox-gl/dist/mapbox-gl';
@import '@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder';
// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/devise";
@import "pages/show-users";
@import "pages/index-offers";
@import "pages/show-offers";
@import "pages/new-inquiries";
@import "pages/index-inquiries";

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 350px; /* bottom = footer height */
    padding-bottom: 10px;
}

.application-bg {
  background:linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://images.unsplash.com/photo-1515879218367-8466d910aaa4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
  background-size: cover;
}

.inquiries-index.application-bg, .pages-home.application-bg {
  background: none;
}
